In [2]:
import numpy as np
import pandas as  pd

In [ ]:
['합천댐수위데이터.xls', '합천댐방수로수위데이터.xls']

In [78]:
df = pd.read_excel('./data/합천댐수위데이터.xls')
df['관측 일시'] = df['관측 일시'].apply(str)
ind = df[df['관측 일시']=='1992-04-01'].index
indt = df[df['관측 일시']=='2023-04-03'].index

df = df[ind[0]:indt[0]+1]
df.reset_index(drop=True, inplace=True)
df['관측 일시'] = pd.to_datetime(df['관측 일시'], format="%Y-%m-%d")
df.loc[:,df.columns!='관측 일시'] = df.loc[:,df.columns!='관측 일시'].astype(float)
df_dam = df

/var/folders/k7/9gs0gtnx2mq7v2qxmtqtbmbh0000gn/T/ipykernel_1974/257677097.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,df.columns!='관측 일시'] = df.loc[:,df.columns!='관측 일시'].astype(float)

In [79]:
df = pd.read_excel('./data/합천댐방수로수위데이터.xls')
df['관측 일시'] = df['관측 일시'].apply(str)
ind = df[df['관측 일시']=='1992-04-01'].index
indt = df[df['관측 일시']=='2023-04-03'].index

df = df[ind[0]:indt[0]+1]
df.reset_index(drop=True, inplace=True)
df['관측 일시'] = pd.to_datetime(df['관측 일시'], format="%Y-%m-%d")
df.loc[:,df.columns!='관측 일시'] = df.loc[:,df.columns!='관측 일시'].astype(float)
df_bang = df

/var/folders/k7/9gs0gtnx2mq7v2qxmtqtbmbh0000gn/T/ipykernel_1974/3651889039.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,df.columns!='관측 일시'] = df.loc[:,df.columns!='관측 일시'].astype(float)

In [80]:
df_dam.tail(1)

,관측 일시,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
9980,2023-04-03,146.24,146.24,146.24,146.25,146.25,146.25,146.25,146.25,146.24,...,146.22,146.22,146.22,146.22,146.22,146.22,146.22,146.22,146.22,146.23

In [81]:
df_bang.tail(1)

,관측 일시,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
9980,2023-04-03,55.85,55.79,55.73,55.67,55.6,55.54,55.48,55.42,55.79,...,56.31,56.26,56.2,56.15,56.1,56.05,55.99,55.94,55.88,55.83

In [ ]:
df_dam_merge = pd.merge(df_dam, df_bang, how='outer', on='관측 일시', suffixes=('_합천댐', '_합천댐방수로'))
df_dam_merge.info()

In [85]:
df_dam.to_csv('./data/합천댐수위데이터.csv', index=False)
df_bang.to_csv('./data/합천댐방수로수위데이터.csv', index=False)
df_dam_merge.to_csv('./data/합천댐_댐방수로.csv', index=False)